:root {
  /* primay colours */

  --primay-text: #87879d;
  --secondary-heading: #28283d;
  --btn-text: #fff;

  /* Button Colours */

  --primary-btn: #4d96a9;
  --secondary-btn: #855fb1;

  /* Btn Hover States */
  --primary-hover: #71c0d4;
  --secondary-hover: #b18bdd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--primay-text);
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.8rem;
  line-height: 2.6rem;
}

h1 {
  color: var(--secondary-heading);
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 6.4rem;
}

.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 8rem;

  max-width: 144rem;
}

.logo {
  padding-bottom: 6.1rem;
}

.hero_section {
  display: flex;
  flex-direction: row;
  gap: 7rem;
  margin-bottom: 13.7rem;
  max-height: 35.8rem;
  max-width: 150.4rem;
  border: 2px solid teal;
}

.flex__hero__text__container {
  align-self: center;
  text-align: center;
}

.hero__img__right {
  align-self: flex-end;
}

.section-number {
  margin-bottom: 2.8rem;
}

.central-img-container {
  display: flex;
  gap: 3rem;
}

.central__img {
  border-radius: 7px;
  max-width: 25.5rem;
}

.info-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 9.4rem 0 18.4rem 0rem;
  max-width: 54rem;
  text-align: center;
}

.footer__flex__container {
  display: flex;
}
