:root {
  /* primay colours */

  --primay-text: #87879d;
  --secondary-heading: #28283d;
  --accent-text: #87879d;
  --secondary-accent-text: #cfadf5;
  --btn-text: #fff;

  /* Button Colours */

  --primary-btn: #4d96a9;
  --secondary-btn: #855fb1;

  /* Btn Hover States */
  --primary-hover: #71c0d4;
  --secondary-hover: #b18bdd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--primay-text);
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.8rem;
  line-height: 2.6rem;
}

/* Button Styles */

.btn {
  border-radius: 2.9rem;
  color: var(--btn-text);
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.6rem 4rem;
  text-decoration: none;
}

.hero__download__btn {
  background-color: var(--primary-btn);
  margin-right: 1.6rem;
}
.download__btn--accent {
  color: #86d9ef;
}

.what__btn {
  background-color: var(--secondary-btn);
}

h1 {
  color: var(--secondary-heading);
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 6.4rem;
}

.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 8rem;
  max-width: 144rem;
}

.logo {
  padding-bottom: 6.1rem;
}

.hero_section {
  display: flex;
  flex-direction: row;
  gap: 7rem;
  margin-bottom: 13.7rem;
  max-height: 35.8rem;
  max-width: 150.4rem;

  /* border: 2px solid teal; */
}

.flex__hero__text__container {
  align-self: center;
  text-align: center;
}

.hero__para {
  margin: 3.4rem 0 3.2rem 0;
}
.hero_img__left {
  align-self: flex-start;
}
/* .hero__img__right {
  padding-top: 5rem;
} */

.section-number {
  margin-bottom: 2.8rem;
}

.central-img-container {
  display: flex;
  gap: 3rem;
}

.central__img {
  border-radius: 7px;
  max-width: 25.5rem;
}

.info-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 9.4rem 0 18.4rem 0rem;
  max-width: 54rem;
  text-align: center;
}

.info__section__title {
  color: #4d96a9;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.4rem;
  margin-bottom: 1.6rem;
}

.info__section__heading {
  color: var(--secondary-heading);
  font-size: 4rem;
  font-weight: 900;
  line-height: 4.4rem;
}

.info__section__para {
  margin: 3.2rem 0 0 0;
}

.number-wrapper {
  display: flex;
  align-items: center;
}

.section-number {
  background-color: #fff;
  color: var(--accent-text);
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
}

.section-number-one {
  margin-bottom: 3.5rem;
}

.section-number-two {
  border-radius: 50%;
  justify-content: flex-end;
  padding: 1.5rem;
  position: absolute;
  left: 50%;
  z-index: 1;
}

.footer-section {
  border-image: linear-gradient(
      hsla(193, 92%, 36%, 0.863),
      hsla(193, 93%, 35%, 0.61)
    )
    fill 1;
  /* background-color: #1c758d; */
  /* background-blend-mode: multiply; */
  background-image: url(/desktop/image-footer.jpg);
  background-size: cover;
  /* filter: contrast(90%); */

  width: 100%;
}

.footer__flex__container {
  display: flex;
  flex-wrap: nowrap;
  padding: 11.6rem 16.5rem 10.4rem 16.5rem;
}

.footer__heading {
  color: #fff;
  font-size: 4rem;
  padding-right: 12.5rem;
  line-height: 4.4rem;
}

.footer__para {
  align-self: center;
  color: #fff;
  margin-right: 9.2rem;
  max-width: 34rem;
  text-align: left;
}

.footer__btn {
  align-self: center;
  background-color: var(--secondary-btn);
  flex-wrap: nowrap;
}

.download__btn__accent--secondary {
  color: var(--secondary-accent-text);
}
